* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sheared_style */
.font-open_sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

/* body{
    background-color: aqua;
} */

.logo h2 {
    font-size: 45px;
    font-weight: 900px;

}

.color-orange {
    color: #FD6E0A;
}

nav .menu {
    display: flex;
    /* justify-content: space-between; */
    gap: 51px;
    align-items: center;
    list-style: none;

}

nav .menu a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

.btn {
    font-weight: bolder;
    font-size: 20px;
    width: 150px;
    height: 65px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
}

/* main style  */
header {
    background: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav {
    width: 58%;
    max-width: 2400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 633px; */
}


#banner {
    /* border: 1px solid black; */
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {

    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#btnId {
    display: flex;
    gap: 30px;
}

.banner-image img {
    max-width: 584px;
    margin: 48px 38px 0 163px;
    vertical-align: middle;
}

#about {
    /* border: 1px solid black; */
    background-color: #FFF8F3;
    margin: 130px 230px;
    padding: 131px 156px;
    text-align: center;
    border-radius: 10px;
}

.section-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    margin: 0 auto;
}

.section-heading p {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    max-width: 827px;
    /* margin-bottom: 30px; */
    color: #757575;
    margin: 30px auto;
}


#about .about-info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#about .about-container {
    max-width: 827px;
    width: 71%;
    margin: 0 auto;
}

.info-card p {
    color: #757575;
    font-size: 20px;
}

.info-card h4 {
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}

#skills {
    margin: 0 auto;
    padding: 130px 388px 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#skills .skill-box {
    display: flex;
    gap: 24px;
    margin: 50px 230px 123px 242px;
    max-width: 1128px;
}

.skill-box .skill-card {
    padding: 30px;
    /* border: 1px solid black; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000010;
    border-radius: 5px;


}

.skill-card img {
    max-width: 44px;
    display: flex;
    /* justify-content: flex-start; */

}
.skill-card h4{
    display: flex;
    /* justify-content: flex-start; */
    padding:30px 0 ;
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}
.skill-card .skill-prag{
    text-align: start;
    font-weight: 16px;
    color: #757575;
}