*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sheared_style */
.font-open_sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

body{
    /* background-color: aqua; */
}

.logo h2{
    font-size: 45px;
    font-weight: 900px;

}
.color-orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    /* justify-content: space-between; */
    gap: 51px;
    align-items: center;
    list-style: none;
    
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.btn{
    font-weight: bolder;
    font-size: 20px;
    width:150px ;
    height:65px ;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
}

/* main style  */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 58%;
    max-width: 2400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 633px; */
}