*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sheared_style */
.font-open_sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

/* body{
    background-color: aqua;
} */

.logo h2{
    font-size: 45px;
    font-weight: 900px;

}
.color-orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    /* justify-content: space-between; */
    gap: 51px;
    align-items: center;
    list-style: none;
    
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.btn{
    font-weight: bolder;
    font-size: 20px;
    width:150px ;
    height:65px ;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
}

/* main style  */
header{
    background: url("../images/developer.png" ) , url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left , bottom right;
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 58%;
    max-width: 2400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 633px; */
}


#banner{
    /* border: 1px solid black; */
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight:600px;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{

    font-size:85px ;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#btnId{
    display: flex;
    gap: 30px;
}
.banner-image img{
    max-width: 584px;
    margin: 48px 38px 0 163px ;
    vertical-align: middle;
}